# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# costum
*.json
*.log
*.dSYM
Module_00/ex00/megaphone
Module_00/ex01/phone_book
Module_00/ex02/bank_logs
Module_01/ex00/walkingdead
Module_01/ex01/walkingdeadHorde
Module_01/ex02/wimp
Module_01/ex03/clash
Module_01/ex04/replace
Module_01/ex05/harl
Module_01/ex06/harl3
Module_02/ex00/fixed
Module_02/ex01/fixed
Module_02/ex02/fixed
Module_02/ex03/bsp
Module_03/ex00/claptrap
Module_03/ex01/scavtrap
Module_03/ex02/fragtrap
